@charset "EUC-KR";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
h2{font-family: 'NanumSquareNeo-Variable';font-weight: 300;}
h3{font-family: 'NanumSquareNeo-Variable';}
h4{font-family: 'NanumSquareNeo-Variable';}
h5{font-family: 'NanumSquareNeo-Variable';}
h6{font-family: 'NanumSquareNeo-Variable';}
p{font-family: 'NanumSquareNeo-Variable';font-weight: 300;}
span{font-family: 'NanumSquareNeo-Variable';font-weight: 300;}
div{font-family: 'NanumSquareNeo-Variable';font-weight: 300;}
dl{font-family: 'NanumSquareNeo-Variable';font-weight: 300;}
b{font-family: 'NanumSquareNeo-Variable';}
button{font-family: 'NanumSquareNeo-Variable';font-weight: 300;}



.container{min-width:1300px;}
.container .bar{display: flex;justify-content: center;align-items: center;align-content: space-around;margin: 50px auto 10px;gap:860px;}
.container .bar span{font-weight: bold; font-size: 20px; text-align: left;}
.container .bar .top-bar{display: flex; gap:15px;}
.container .bar .top-bar ul{display: inline-flex;align-items: center;position: relative;line-height: 18px;font-size: 12px;font-weight: 400;font-size: 14px;}
.container .bar .top-bar ul li{display: inline-flex;align-items:center;margin-right: 3px;cursor: pointer;}
.container .bar .top-bar ul li :before{display: inline-block;margin-right: 8px;background-color: #c6c6c6;width: 1px;height: 12px;content: "";}
.container .bar .top-bar ul li a{margin-right: 5px;}

/* ---------------상품 리스트 css 시작-------------------- */

.container .pointShop_ItemList .pointshop_item .price{color: gray; font-size: 12px; height: 70px;text-align: left;}
.container .pointShop_ItemList .pointshop_item .text-style{display: flex; text-align: center; align-items: center; justify-content: space-between;}
.container .pointShop_ItemList .pointshop_item .text-style .inner-text-style{gap:10px;text-align: center;}
.container .pointShop_ItemList .pointshop_item .text-style .inner-text-style span:first-child{color:#ff595e; font-size: 17px;}
.container .pointShop_ItemList .pointshop_item .text-style .inner-text-style span:nth-child(2){color:#777; font-size: 12px;}
.container .pointShop_ItemList .pointshop_item .text-style .d-day span{font-size: 12px;font-weight: bold;}
.container .pointShop_ItemList {display: grid;grid-template-columns: repeat(4, 1fr); /* grid-template-columns: repeat(4, calc(20% - 10px)); *//* grid-gap: -100px; */grid-row-gap: 120px; /*줄 간격 조정*/ /* padding-right: 190px; *//* padding-left: 300px; */grid-column-gap:60px;margin:0px auto;}    
.container .pointShop_ItemList .pointshop_item {position: relative; margin: 10px;min-width: 230px; max-width: 280px; width: 100%; text-align: center; font-size: 16px; }   
.container .pointShop_ItemList .pointshop_item:hover img.img1 {display:none;}
.container .pointShop_ItemList .pointshop_item .img-hover{display:none;}
.container .pointShop_ItemList .pointshop_item:hover img.img-hover{display:block;}
.container .pointShop_ItemList .pointshop_item .item_info {display:grid;gap:10px}
.container .pointShop_ItemList .pointshop_item .item_info .salePrice{display:flex;gap: 40px;justify-content: center;align-items: center;}
.container .pointShop_ItemList .pointshop_item .item_info .salePrice div {display: flex;gap: 10px;align-items: baseline;}
.container .pointShop_ItemList .pointshop_item .item_info .salePrice div .Pointprice{font-size: 13px;color: #a9a9a9;text-decoration: line-through;font-weight: bold;}
.container .pointShop_ItemList .pointshop_item .item_info .salePrice div .Pointprice2 {font-weight:bold;color:#00c4c4}
.container .pointShop_ItemList .pointshop_item .item_info .itemName {font-size:17px;}
.container .pointShop_ItemList .pointshop_item .item_info .item_stuation{text-align: left;display: flex;gap: 10px;padding-left: 30px;}
.container .pointShop_ItemList .pointshop_item .item_info .item_stuation span:first-child{background-color: #fe4e3ae0;color: #fff;padding: 2px 10px;border-radius: 5px;font-size: 12px;}
.container .pointShop_ItemList .pointshop_item .item_info .item_stuation span:last-child{font-size: 12px;background-color: #00c4c4cc;color: #fff;padding: 2px 5px;border-radius: 5px}

















